<ng-template ngFor let-item [ngForOf]="vacations">
  <!-- <div class="vacation-item" [style.border-left-color]="item.employee.color">
    <span class="flex-1"
      >{{ datefmt(item.start) }} - {{ datefmt(item.end) }}</span
    >
    <div class="btn-group flex-none">
      <label for="modal-edit-{{ item.id }}" class="btn btn-sm btn-primary">
        <i class="fa-solid fa-pencil"></i>
      </label>
      <label for="modal-delete-{{ item.id }}" class="btn btn-sm btn-error">
        <i class="fa-solid fa-trash"></i>
      </label>
    </div>
  </div> -->
  <app-vacation-item [item]="item"></app-vacation-item>
  <input type="checkbox" id="modal-delete-{{ item.id }}" class="modal-toggle" />
  <label for="modal-delete-{{ item.id }}" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <h3 class="font-bold text-lg">Delete vacation?</h3>
      <p class="py-4">Are you sure? This action is irreversible!</p>
      <pre>{{ item | json }}</pre>
      <div class="modal-action">
        <a class="btn btn-error" (click)="onDeleteConfirm(item.id ?? -1)">
          Yes
        </a>
        <label for="modal-delete-{{ item.id }}" class="btn">No</label>
      </div>
    </label>
  </label>
  <app-vacations-form [model]="item.interface"></app-vacations-form>
</ng-template>
<label
  for="modal-new"
  class="btn btn-circle btn-primary absolute bottom-5 right-5"
>
  <i class="fa-solid fa-plus"></i>
</label>
<app-vacations-form [model]="newVacation"></app-vacations-form>
